.body {
  margin: 30px;
  background-color: #363636;
  color: #ececec;
}

.linkContainer {
  display: flex;
  gap: 25px;
  color: white;
}

.link {
  color: #ececec;
  text-decoration: none;
}

.link:hover {
  color: skyblue;
}

.linkContainer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkImage {
  border-radius: 5px;
  overflow: hidden;
}

.linkImage:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
