.body {
  margin: 30px;
  background-color: #363636;
  color: #ececec;
}

.linkContainer {
  display: flex;
  gap: 25px;
  color: white;
}

.link {
  color: #ececec;
  text-decoration: none;
}

.link:hover {
  color: skyblue;
}
